body {
    background-color: lightgrey;
}

.subheading {
    color: #fff;
    margin-bottom: 10px;
}

.btn {
    background-color: #212529;
    color: #fff;
}

#btnDelete {
    background-color: #dc3545;
    border-color: #dc3545;
}

#form-error-create {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form-error-search {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#jumbotron {
    background-color: #fff;
}
